link(rel="stylesheet", href="/css/email.css", data-inline)
p Hello,
p you have been invited from <strong>#{task.owner.name}</strong> for project <strong>#{task.title}</strong>,
p
    | Visit&nbsp;
    a(href=frontendUrl + '/tasks/' + task.id) CryptoTask
    | &nbsp;to review invitation.
p #{task.owner.name} sent you this invitation with message:
p
    em #{invitation.letter}
p Thank you for being part of the CryptoTask family.
img(src='/images/logo.png')
