= 'Hello,\n\n'
= `you have been invited from "${task.owner.name}" for project "${task.title}",\n\n`
= `Visit ${frontendUrl}/tasks/${task.id} to review invitation.\n\n`
= `"${task.owner.name}" sent you this invitation with message:\n`
= `${invitation.letter}\n\n`
= 'Thank you for being part of the CryptoTask family.'
